<div class="container text-center center-block">
  <h1 class="lobster"><font color="blue">P</font><font color="yellow">E</font><font color="red">A</font><font color="green">C</font><font color="black">E</font> <font color="black"> a</font><font color="green">n</font><font color="blue">d</font><font color="red"> G</font><font color="green">A</font><font color="black">M</font><font color="blue">E</font><font color="yellow">S</font></h1>
  <p class="shadow"> <font color="Green">Hola, bienvenido.</p>
  </div>
  <div class="container">
    <div class="card text-center mt-6">
      <h1>¿Quiénes somos?</h1>
      <p>Somos un pequeño grupo apasionados por personajes de series animadas que han marcado nuestra infancia</p>
    </div>
  </div>

  <div class="card text-left mt-6">
    <p>¿Quieres consultar sobre personajes icónicos?</p>
    <p>Estás en el lugar correcto<p>
    </div>
    <div class="container text-center center-block mt-9">
      <div class="jumbotron" class="col -md-1 center-block quitar-float">
        <img src="images/logear.jpg" whidith="50" height="50">
        <a href="/Registrarme">
          <span>
            <button type"submit" class="btn btn-primary btn-sm"/>Registrarse</button>
          </span>
        </a>
        <a href="/login">
          <span>
            <button type"submit" class="btn btn-primary btn-sm"/>Iniciar sesión</button>
          </span>
        </a>
      </div>
    </div>
